{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <h1 class="pull-left">Lista de ticket</h1>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-primary pull-right" href="{{ path('ticket_new') }}">Crear nuevo ticket</a>
        </div>
    </div>

    <table id="ticketTable" class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Usuario</th>
                <th>Técnico</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td><a href="{{ path('ticket_show', { 'id': ticket.id }) }}">{{ ticket.id }}</a></td>
                <td>{{ ticket.descripccion }}</td>
                <td>{% if ticket.fecha %}{{ ticket.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ ticket.usuario.nombres }}</td>
                <td>{{ ticket.tecnico.nombres }}</td>
                <td>{{ ticket.estado }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('ticket_show', { 'id': ticket.id }) }}">Ver</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block javascripts %}
        <script src="{{ asset('js/ticket.js') }}"></script>
{% endblock %}
