{% extends 'baseNormal.html.twig' %}

{% block body %}
    <h1>Tickets list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripccion</th>
                <th>Fecha</th>
                <th>Usuarioid</th>
                <th>Tecnicoid</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td><a href="{{ path('ticket_show', { 'id': ticket.id }) }}">{{ ticket.id }}</a></td>
                <td>{{ ticket.descripccion }}</td>
                <td>{% if ticket.fecha %}{{ ticket.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ ticket.usuarioId }}</td>
                <td>{{ ticket.tecnicoId }}</td>
                <td>{{ ticket.estado }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ticket_show', { 'id': ticket.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ticket_edit', { 'id': ticket.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ticket_new') }}">Create a new ticket</a>
        </li>
    </ul>
{% endblock %}
