{% extends 'baseNormal.html.twig' %}

{% block body %}

    <div class="row ticket-show">
        <div class="col-sm-8">
            <div class="display-flex">
                <p class="pull-left ">Asignacion # <b> {{ ticket.id }}</b></p>
                <p class="margin-auto">{% if ticket.fecha %}{{ ticket.fecha|date('Y-m-d') }}{% endif %}</p>
                <a href="/ticket/cambiar-estado?estado=EN_PROCCESO" class="btn btn-primary">Iniciar</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm--12">
            <p class="btn btn-primary pull-left">{{ ticket.estado }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-4 text-right">Solicitado Por:</div>
                <div class="col-sm-8 text-left">{{ ticket.usuario.nombres }}</div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-right">Descripcion:</div>
                <div class="col-sm-8 text-left">{{ ticket.descripccion }}</div>
            </div>
        </div>
        <div class="col-sm-6">

        </div>
    </div>

    {#<h1>Ticket</h1>#}

    {#<table>#}
        {#<tbody>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ ticket.id }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Descripccion</th>#}
                {#<td>{{ ticket.descripccion }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Fecha</th>#}
                {#<td>{% if ticket.fecha %}{{ ticket.fecha|date('Y-m-d') }}{% endif %}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Usuarioid</th>#}
                {#<td>{{ ticket.usuario.nombres }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Tecnicoid</th>#}
                {#<td>{{ ticket.tecnico.nombres }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Estado</th>#}
                {#<td>{{ ticket.estado }}</td>#}
            {#</tr>#}
        {#</tbody>#}
    {#</table>#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('ticket_index') }}">Back to the list</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="{{ path('ticket_edit', { 'id': ticket.id }) }}">Edit</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
