{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ticket</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Descripccion</th>
                <td>{{ ticket.descripccion }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if ticket.fecha %}{{ ticket.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuarioid</th>
                <td>{{ ticket.usuarioId }}</td>
            </tr>
            <tr>
                <th>Tecnicoid</th>
                <td>{{ ticket.tecnicoId }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ ticket.estado }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ticket_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ticket_edit', { 'id': ticket.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
