
 <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet">
        <script src="{{ asset('js/ie-emulation-modes-warning.js') }}"></script>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">       
    </head>
    <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TaskApp</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                {% if role is defined and  role == 'ROLE_NORMAL' %}
                    <ul class="nav navbar-nav">
                        <li class="">
                            <a href="/user">Usuario</a>
                        </li>
                        <li class="">
                            <a href="/ticket">Ticket</a>
                        </li>
                        <li class="">
                            <a href="/register">Registrar usuario</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a>{{ user.nombres }}</a>
                        </li>
                        <li>
                            <a href="/logout">Cerrar sesión</a>
                        </li>
                    </ul>

                {% elseif  role is defined and  role == 'ROLE_TECNICO' %}
                    <ul class="nav navbar-nav">
                        <li class="">
                            <a href="/">Mis Tareas</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a>{{ user.nombres }}</a>
                        </li>
                        <li>
                            <a href="/logout">Cerrar sesión</a>
                        </li>
                    </ul>

                {% else %}
                    <ul class="nav navbar-nav">
                        <li class="">
                            <a href="#">Inicio</a>
                        </li>
                        <li class="">
                            <a href="#">Nosotros</a>
                        </li>
                        <li class="">
                            <a href="#">Contacto</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a href="/login">Login</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

        <div class="container">
            <div class="starter-template">
                {% block body %}  {% endblock %}
            </div>
        </div>




        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.min.js') }}"><\/script>')</script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{ asset('js/ie10-viewport-bug-workaround.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
