
{% block body %}

    <h1>Mis asignaciones</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Estado</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{% if ticket.fecha %}{{ ticket.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ ticket.usuario.nombres }}</td>
                <td>{{ ticket.estado }}</td>
                <td>
                    <a class="btn btn-success" href="ticket/{{ ticket.id }}">Ver</a>
                    {% if ticket.estado == 'Pendiente' %}
                        <a class="btn btn-primary" href="ticket/{{ ticket.id }}/cambiarEstado">Iniciar</a>
                    {% endif %}
                    {% if ticket.estado == 'En_proceso' %}
                        <a class="btn btn-danger" href="ticket/{{ ticket.id }}/cambiarEstado">Terminar</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
